@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    background-image: url(../assets/Background.png);
}


.form-singup {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    line-height: 35px;
}

.greenbrand {
    width: 260px;
    margin-left:40px;
    margin-top: -70px;
}

.form-title-singup {
    font-size: 20px;
    font-weight: 300;
    margin-top: -50px;
    color: #7b8557;
}



.singup-box {
    border: #7b8557 solid;
    border-radius: 10px;
    padding: 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f5f4f0;
}

.name-form-singup input, .email-form-singup input, .password-form-singup input{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #f5f4f0;
    color: #12130e;
    font-size: 15px;
    border-radius: 10px;
    border: #d3cfbc solid;
}

button {
    background-color: #dee6ab; 
    color: #7b8557; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px; 
  }
  
  button:hover {
    background-color: #494e25; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
  }
  
  button:active {
    background-color: #23241d; 
    transform: translateY(0px); 
  }